body {
  margin: 0;
  padding: 0;
  cursor: default;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

p, h1, h2, h3, button, span {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 180px;
}

a:hover, button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #4E5983;
}

button, input {
  border: none;
}

button:active, button:focus, input:active, input:focus {
  outline: none;
}

.header {
  height: 90px;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav__item {
  font-size: 16px;
  margin-right: 45px;
  -webkit-transition: .2s;
  transition: .2s;
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-nav__item:hover {
  color: #160647;
}

.header__logo {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.header-buttons {
  -ms-flex-preferred-size: 250px;
      flex-basis: 250px;
}

.header-buttons__signup {
  width: 160px;
  height: 55px;
  font-size: 16px;
  background-color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 10px;
  background-color: #f2edff;
  font-weight: 700;
  color: #4E5983;
}

.header-buttons__signup:hover {
  -webkit-box-shadow: 0px 4px 10px -3px rgba(86, 46, 194, 0.25);
          box-shadow: 0px 4px 10px -3px rgba(86, 46, 194, 0.25);
}

.header-buttons__login {
  margin-right: 20px;
  background-color: #fff;
  font-size: 16px;
  color: #4E5983;
}

.hero {
  background: linear-gradient(140.59deg, #562EC2 29.59%, #A07EFE 73.59%);
  color: #fff;
}

.hero-block {
  padding: 100px 0;
}

.hero__title {
  text-align: center;
  font-size: 60px;
  max-width: 850px;
  margin: 0 auto;
  font-weight: 700;
  margin-bottom: 30px;
}

.hero__subtitle {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 55px;
}

.hero-calc {
  width: 1100px;
  margin: 0 auto;
  background-color: #fff;
  color: #838ba8;
  padding: 80px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-radius: 20px;
}

.hero-calc-give, .hero-calc-get {
  width: 300px;
}

.hero-calc-give__title, .hero-calc-get__title {
  font-size: 18px;
  font-weight: 500;
  color: #4E5983;
  margin-bottom: 30px;
}

.hero-calc-give__subtitle, .hero-calc-get__subtitle {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.hero-calc-give-input, .hero-calc-get-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.hero-calc-give-input::after, .hero-calc-get-input::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  bottom: -10px;
  right: 0;
  background-color: #text-color;
  z-index: 999;
}

.hero-calc-give__input, .hero-calc-get__input {
  font-size: 20px;
}

.hero-calc__submit {
  width: 160px;
  height: 55px;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  background: linear-gradient(125.68deg, #562EC2 23.69%, #A07EFE 97.95%);
}
